* {
    font-family: 'Playball', cursive;
}
body{
    background-color: #dae1dd;
}
main {
    background-color: #f2efe8;
}
.language {
    width: 30px;
}
header {
    background-color:#3f373c;
}
header>p: {
    display: inline;
}
a {
    text-decoration: none;
}
nav>ul>li {
    display: inline;
    background-color: #f2efe8;
    border-radius: 2px;
    margin: 2px;                   /* werewrwe */
}
.arrow {
    width: 70px;
}
#img {
    width: 70%;
