header{
    
}
header img {
    position: relative;
     top: -30px;
     float: left;
}
header #adr {
    float: right;
    margin-right: 10px;
}
header #pub {
    clear: right;
    font-size: 40px;
    position: relative;
    top: 30px;
    left: 80px;
} 
header nav {

     display: flex;
}
header nav ul {
      display: flex;
}
