header{
    height: 300px;
}
li{
    list-style-type: none;
}
header img {
    position: relative;
     top: -30px;
     float: left;
}
header #adr {
    float: right;
    margin-right: 10px;
    color: #dae1dd;
}
header #pub {
    clear: right;
    font-size: 60px;
    text-align: center;
    color: #dae1dd;
    position: relative;
    top: 60px;
} 
nav {
    position: relative;
    top:150px;
}
header nav ul {
      display: flex;
      justify-content:space-around;
      align-items:flex-end;
}
header nav ul li  {
      text-decoration: none;
      background-color: #3f373c;
      font-size: 25px;
      text-align: center;
      list-style-type: none;

}
header nav ul li a {
      text-decoration: none;
      background-color: #3f373c;
      color:#dae1dd;

}
header>nav>ul>li>a:hover {
      text-decoration: none;
      background-color: #dae1dd;
      color:#3f373c;

}
header>nav>ul>li>a:active {
      text-decoration: none;
      background-color: #dae1dd;
      color:#3f373c; 
}
#gol {
    color:#995d03;
}
h1{
    margin-top: 50px;
    text-align: center;
    font-size: 50px;
    color: #3f373c;
}
.img  {
    margin: 0 auto;
}
.img>img {
    width: 100%;
    text-align:center;
}
.forming1{
    float: right;
}
form {
    float: right;
    right: 0;
    border: 5px solid #3f373c; 
    background-color: #dae1dd;
    color: #3f373c;
    font-size: 20px;
}
form input{
    display: flex;
    
    
}
form input{
    padding-right: 10px;
    
}
main>div>div {

    text-align: center;
}
main div button {
    padding: 1px 100px;
    background-color:#3f373c;
    color: #dae1dd;
    border:0;
    font-size: 30px;
}
h3{
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 50px;
    color: #3f373c;
}
form{
    width: 300px;
    text-align: center;
}

form input {
    margin: 10px auto;
    width: 180px;
    height: 30px;
    font-size: 24px;
    text-align: center;
}
.button {
    background-color: #3f373c;
    border : 0;
    margin-top: 30px;
    color:#dae1dd;
}
form img {
    float: right;
}
#only ul {
    padding-left: 0;
    display: flex;
    list-style-type: none;
    justify-content:space-around;
}
#icon li {
     border : 3px solid #3f373c;
    border-radius: 50%;
}
#only ul li{
    font-size: 20px;
}
.bag {
    position: relative;
    right: -25px;
}
h2 {
    margin-top: 50px;
    text-align: center;
    font-size: 50px;
    color: #3f373c;
    margin-bottom: 15px;
}
#card {
    height: 300px;
    display: flex;
    justify-content:center;
}
#card button {
  
    margin-top: 250px;
    padding: 3px 10px;
    
}
#card img {
    height: 100%;
    padding: 0;
}
#form2 input{
    margin: 0 auto;
}
#form2 .button {
    margin-bottom: 10px;
}
#star {
    display: flex;
    justify-content:space-around;
}
#star1 {
    display: flex;
    justify-content:space-around;
}
#star li {
     list-style-type: none;
     font-size:20px
}
#star1 li {
     font-size:20px
}
#star li img {
    width: 200px;
    height: 200px;
    border-radius: 50%
}
.err {
     position: relative;
    right: 25px;
}
#location {
    max-width: 1040px;
    margin: 0 auto;
}

#location p {
    text-align: center;
}

footer ul {
     background-color: #3f373c;
    display: flex;
    justify-content:center;
    height: 100px;
    align-items:center;
}
footer ul li {
    padding: 0 6px
}
footer p {
    text-align: center;
}

.caddy {
    max-width: 800px;
    float: left;
}
#h1 {
    clear: left;
}
#h3 {
    padding-top:  100px;
}
h4{
    text-align: center;
    clear: both;
    padding: 15px 0;
    color: #dae1dd;
    background-color:#3f373c;
    margin-top: 10px;
}
.menu1 {
    padding-top: 10px;
    clear: left;
    padding-left: 10px;
 
}
.men1 {
    float: left;
    padding-left: 10px;
}
.men2 {
    float: right;
    padding-right: 10px;
}
#hover>div {
    margin-top: 10px;
    height: 100px;
    color:#3f373c;;
}
#hover>div:hover {
    background-color:silver;
    margin-top: 10px;
  
}