* {
    font-family: 'Playball', cursive;
    margin: 0px;
}
body{
    background-color: #dae1dd;
}

.language {
    width: 30px;
    margin-top: 10px;
    margin-right: 10px;
}
#language {
    display: flex;
    justify-content:flex-end;
}
header {
    background-color:#3f373c;
}
header>p: {
    display: inline;
}
